.site-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.1); /* רקע כהה יותר */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
}

.site-card:hover {
    transform: translateY(-5px);
    background-color: rgba(0, 0, 0, 0.2); /* שינוי צבע רקע במצב ריחוף */
}

.site-card-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.site-card-title {
    font-size: 1.1em;
    margin: 8px 0;
}

.site-card-button {
    color: #00796b; /* צבע טורקיז כהה */
 
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s;
    margin: 5px 0;
}



.site-card-link {
    /* color: #007bff; */
    text-decoration: none;
    margin-top: 8px;
}

.site-card-link:hover {
    text-decoration: underline;
}

/* עיצוב הרשת */
.site-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* רספונסיביות */
@media (max-width: 600px) {
    .site-card {
        width: 100%;
        margin: 8px;
    }

    .site-card-title {
        font-size: 1em;
    }

    .site-card-button {
        font-size: 0.8em;
        padding: 6px 12px;
    }
}
