body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.map-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 50vw; /* חצי מרוחב העמוד */
    height: 100vh; /* גובה מלא של העמוד */
    border: 1px solid rgb(17, 17, 17); /* גבול מסביב לקוביה */
    box-sizing: border-box; /* כולל את הגבול בחישוב הגודל */
}

.map {
    width: 100%;
    height: 100%;
}


